<!-- <router-outlet></router-outlet> -->
<img  style="width: '100vw'; height: '100vh'; object-fit: fit; display: 'block'; position: 'absolute'; top: '0'; right: '0'" src={{imagen}}>

    <div (click)="playAudio()" class="btn" [style.top]="2+ 'em'" [style.right]="'2.1' + 'em'" style="display: 'block'; position: 'absolute';">
      <svg class="text-light" [style.width]="fontSize + 'em'" [style.height]="fontSize + 'em'" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" /></svg>
    </div>
    
    <div (click)="detener()" class="btn" [style.top]="fontSize+2 + 'em'" [style.right]="'2.1' + 'em'" style=" display: 'block'; position: 'absolute';">
      <svg  class="text-light" [style.width]="fontSize + 'em'" [style.height]="fontSize + 'em'" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z" />
      </svg>
    </div>

    <div (click)="cambiarImagen()" class="btn" [style.top]="2*fontSize+2 + 'em'" [style.right]="'2.1' + 'em'"  style="display: 'block'; position: 'absolute';">
      <svg class="text-light" [style.width]="fontSize + 'em'" [style.height]="fontSize + 'em'" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </div>
    
    <div (click)="retrocederCambiarImagen()" class="btn" [style.top]="3*fontSize+2 + 'em'" [style.right]="'2.1' + 'em'"  style="display: 'block'; position: 'absolute';">
      <svg class="text-light" [style.width]="fontSize + 'em'" [style.height]="fontSize + 'em'" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    </div>

    <div class="text-light" [style.font-size]="fontSize + 'em'" style="display: 'block'; position: 'absolute'; top: '0em'; left: '0'; font-weight: 'bold'; text-shadow: '2px 2px #5c6e91'">
      {{periodos}}
    </div>

    <div class="text-light" [style.font-size]="fontSize + 'em'" style="display: 'block'; position: 'absolute'; bottom: '0em'; left: '0'; font-weight: 'bold'; text-shadow: '2px 2px #5c6e91'">
      {{hora}}
    </div>
